<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.txwgoogol.apps.wandroid">

    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- storage manage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- start原理 https://www.jianshu.com/p/98d3623fa2d4 -->
        <!--        <provider-->
        <!--            android:name="androidx.startup.InitializationProvider"-->
        <!--            android:authorities="${applicationId}.androidx-startup"-->
        <!--            android:exported="false"-->
        <!--            tools:node="merge">-->
        <!--            <meta-data-->
        <!--                android:name="com.example.ExampleLoggerInitializer"-->
        <!--                android:value="androidx.startup" />-->
        <!--        </provider>-->

    </application>

</manifest>